/*section 1*/

.lineup, .linkLineup{
	display: flex;
	align-items: center;
}
@media screen and (max-width: 700px)
{.lineup{flex-direction: column;}}

/*section 2*/

.logo{
	height: 20vw;
	max-height: 6em;
	aspect-ratio: 1;
	position: relative;
}

.logo-a{
	text-decoration: none;
	position: relative;
	transition: all .3s;
}
.logo-a:hover{
	transform: scale(1.2);
}
.logo-a::before{
	position: absolute;
	border-radius: 50%;
	content: "";
	background-color: var(--page-line);
	height: 0;
	width: 0;
	transition: all 0.3s;
}
.logo-a:hover:before{
	transform: scaleX(1);
	animation: bounce .3s linear;
}

.logo.reveal {
	opacity: 0;
	transform: translateX(-5em);
	transition: all .5s calc(80ms*var(--order));
}
.logo.show {
	opacity: 1;
	transform: translateX(0);
}

/*section 3*/

section:nth-child(2) {
	background-color: transparent;
	position: relative;
	transform-style: preserve-3d;
	z-index:-1;
}

.parallaxPhotos {
	display: block;
	position: absolute;
	padding: .25em;
	border-radius: .5em;
	border: 2px solid var(--custom-blue-line);
	transition: transform .5s;
	height: 15vw;
	max-height: 7em;
	width: auto;
	border-radius: .125em;
	transition: transform .3s;
}

#paralax-text-container {
	border: 2px solid var(--custom-blue-line);
	border-radius: .7em;
	cursor: pointer;
}

@keyframes bounce {
	0% {
		width: 0;
		height: 0;
		right: 0;
		left: 100%;
		bottom: 100%;
		top: 0;		
	}
	50% {
		width: 100%;
		height: 100%;
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;	
	}
	100% {
		width: 0;
		height: 0;
		right: 100%;
		left: 0;
		bottom: 0;
		top: 100%;	
	}
}