#pageContainer{
	flex-grow: 1;
	display: flex;
	overflow-x: hidden;
}

/*Page Basic Styles*/
.contents {
	width: clamp(100px, 100%, 800px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.startButton{
	margin: .5em;
	width: clamp(190px, 30vw, 250px);
	text-align: center;
	background-color: #0015ff;
	border-bottom: .125em solid #000a7d;
	border-radius: .5rem;
	padding: .25em;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.startButton:active{
	margin-top: .625em;
	border-bottom: 0px solid transparent;
}

.page {
    box-sizing: border-box;
	overflow-y: auto;
	width: 100vw;
	flex-shrink: 0;
	perspective: 20px;
}

.place-center {
	display: grid;
	place-items: center;
}

.gradient-text {
	background-image: linear-gradient(to right,#032dfc, #a803fc, #032dfc);	
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.repeating-moving-bg {
	background-size: 5em 100%;
	background-repeat: repeat-x;
	animation: move-bg-to-left 6s linear infinite;
}

.article-p {
	text-align: left;
	text-overflow: ellipsis
}

.article-child {
	overflow: hidden;
}

.cutoff-article {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows .5s linear, color .2s, background-color .2s;
}
.cutoff-article:has(+ div > .expand-btn:checked) {
	grid-template-rows: 1fr;
}

.expand-btn {
	appearance: none;
	text-align: center;
	padding: .5em;
	width: 6em;
	cursor: pointer;
	background-color: var(--page-line);
	color: var(--default-block-background-color);
}
.expand-btn::before {
	content: "Genişlet";
}
.expand-btn:checked::before {
	content: "Daralt";
}

.expand-btn-container {
	margin-top: 1em;
	position: relative;
	width: fit-content;
}
.expand-btn-container::before, .expand-btn-container::after {
	position: absolute;
	content: "";
	transition: all .2s;
	background-color: var(--custom-blue-line);
	height: 3px;
	width: 0;
}
.expand-btn-container::before {
	top: 0;
	right: 0;
}
.expand-btn-container::after {
	bottom: 0;
	left: 0;
}
.expand-btn-container:hover::before, .expand-btn-container:hover::after {
	width: 100%;
}

.source-links {
	display: block;
	width: fit-content;
	max-width: calc(100vw - 10em);
	white-space: nowrap; /* Prevent text wrapping */
	overflow: hidden;  /* Hide excess text */
	text-overflow: ellipsis;
}

@media screen and (max-width: 700px) {
	section {
		row-gap: 1rem;
	}
}

@keyframes move-bg-to-left {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: -5em 0; 
	}
}