#pageContainer{
	flex-grow: 1;
	display: flex;
	overflow-x: hidden;
}

/*Page Basic Styles*/
.contents {
	width: clamp(100px, 100%, 800px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.startButton{
	margin: .5em;
	width: clamp(190px, 30vw, 250px);
	text-align: center;
	background-color: #0015ff;
	border-bottom: .125em solid #000a7d;
	border-radius: .5rem;
	padding: .25em;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.startButton:active{
	margin-top: .625em;
	border-bottom: 0px solid transparent;
}

.page {
    box-sizing: border-box;
	overflow-y: auto;
	width: 100vw;
	flex-shrink: 0;
	perspective: 20px;
}

.gradient-text {
	background-image: linear-gradient(to right,#032dfc, #a803fc, #032dfc);	
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.repeating-moving-bg {
	background-size: 400px 100%;
	background-repeat: repeat-x;
	animation: move-bg-to-left 6s linear infinite;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 3.5rem;
	margin: .5rem 0 0 0;
	font-weight: 500;
	text-align: center;
	font-family: 'Nunito', sans-serif;
}

p {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

section {
	display: grid;
	height: clamp(430px, 100%, 700px);
	align-content: center;
	row-gap: 2rem;
	place-items: center;
	padding:0 2em;
}

@media screen and (max-width: 700px) {
	section {
		row-gap: 1rem;
	}
}

@keyframes move-bg-to-left {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: -400px 0; 
	}
}