*{
	box-sizing: border-box;
	font-size: 18px;
}
body,html{
	margin: 0;
}
#root{
	display: flex;
	flex-direction: column;
	height: 100vh;
	--nav-backround: rgb(0, 0, 255);
}
:focus-visible{
	outline: 3px solid var(--page-line);
}

@layer default-of-all-elements {
	*{
		color: var(--page-line);
		font-family: 'Montserrat', sans-serif;
		box-sizing: border-box;
		font-size: 18px;
		transition: color .2s, background-color .2s;
	}
	*:not(h1, h2, h3, p, a, img, label) {
		background-color: var(--default-block-background-color);
	}	
}

fieldset, legend {
	border: 3px solid var(--custom-blue-line);
	border-radius: 5px;	
}


sup {
	font-size: 0.75em;
	text-decoration: underline;
	color: var(--custom-blue-line);
	cursor: pointer;
}

h1, h2, h3 {
	font-family: 'Nunito', sans-serif;
}
h2, h3 {
	width: 100%;
	margin: 0;
	text-align: left;
}

h1 {
	font-size: 3.5rem;
	margin: .5rem 0 0 0;
	font-weight: 500;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
}

h3 {
	font-size: 1.5rem;
	font-weight: 200;
}

p {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

section {
	display: grid;
	margin-top: 15em;
	margin-bottom: 15em;
	align-content: center;
	row-gap: 2rem;
	place-items: center;
	padding:0 2em;
}

button{
	all: unset;
	cursor: pointer;
}

img {
	display: block;
}

iframe {
	margin: 1em;
	border: 2px solid var(--custom-blue-line);
	border-radius: 5px;
	width: clamp(300px, 50%, 700px);
	aspect-ratio: 16/9;
}

a{
	text-decoration: none;
	position: relative;
	color: var(--custom-blue-line);
}
a::before{
	position: absolute;
	content: "";
	background-color: var(--custom-blue-line);
	height: 3px;
	width: 0;
	bottom: 0;
	left: 0;
	transition: all 0.3s;
}
a:hover:before{
	width: 100%;
	transform: scaleX(.5);
}

/* .unstyled-a {
	text-decoration: none;
}
.unstyled-a::before{
	position: relative;
	content: "";
	background-color: transparent;
	height: 0;
}
.unstyled-a:hover:before{
	width: 0;
	transform: none;
} */

figure{
    margin: .5em;
}

.button-x{
	border-radius: .5em;
	display: flex;
	position: absolute;
	width: 2em;
	height: 2em;
	top: 0;
	right: 0;
	z-index: 1;
	justify-content: center;
	align-items: center;
}
.button-x::before{
	content: "";
	background-color: black;
	height: 3px;
	width: 25px;
	border-radius: 2px;
	transform: rotate(-45deg);
}
.button-x::after{
	content: "";
	position: absolute;
	background-color: black;
	height: 3px;
	width: 25px;
	border-radius: 2px;
	transform: rotate(45deg);
}