#main-nav {
	padding: 0 10px;
}

#main-nav {
	background-color: var(--nav-backround);
}

#nav-x {
	display: none;
}

#nav-end {
	display: flex;
	align-items: center;
	float: right;
}

#ham-end {
	display: none;
}

#hambutton {
	display: none;
	background-color: var(--nav-backround);
	padding: 0;
}

@media screen and (max-width: 690px) {
	#hambutton {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

    #menu {
		display: flex;
		margin-left: 40px;
		padding: 4px;
		height: 20px;
		flex-direction: column;
		justify-content: space-between;
	}

	#line {
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
	}
	#menu::before {
		content: "";
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
	}

	#menu::after {
		content: "";
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
	}
	
	/*NAVBUTTON*/
	#nav-end {
        display: none;
    }

	#ham-end {
		display: flex;
		align-items: center;
		margin-right: 10px;
	}

	.link {
		box-sizing: border-box;
		margin-left: 0;
		width: 100%;
		border-radius: 0;
		position: relative;
	}

	/*NAV TOGGLE ANIMATION*/
	#main-nav {
		position: fixed;
		/* left property is being set in the nav.jsx file */
		top: 0;
		bottom: 0;
		width: 200px;
		padding: 0;
		z-index: 1;
		transition: left 0.2s ease;
	}

	#nav-x {
		display: flex;
	}
}

@media screen and (min-width: 690px) {
	#main-nav {
		display: block;
	}
}